<footer>
    <p>Copyright &copy; 2016 Weedman Dan</p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="/assets/js/jquery.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72664900-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="/assets/js/snowfall.js"></script>
<script type='text/javascript'>
  $(document).snowfall('clear');
  document.body.className = "main";
  $(document).snowfall({image :"/assets/img/leaf.png", minSize: 10, maxSize:25});
</script>